h1 {
  font-family: Garamond, serif;
  font-weight: normal;
  margin-bottom: 3em;
  text-align: center;
}

table, th, td { 
  border-collapse: collapse;
  padding: .3em .5em; 
}

table {
 margin-left: 1em;
 margin-right: 1em;
}

th, caption { 
  background-color: #666; 
  color: #fff; 
  border: thin solid #666;
}

td {
 background-image: linear-gradient(#f9f9f9, #e3e3e3);
 border-left: thin solid #666;
 border-right: thin solid #666;
 text-align: left;
}

.abschluss td {
  background-image: linear-gradient(#f9f9f9, #c9c9c9);
}

tfoot {
  border-bottom: thin solid #666;
}

caption {
  font-size: 1.5em;
  border-radius: .5em .5em 0 0;
  padding: .5em 0 0 0
}


a:link {
      color: #095484;
      text-decoration: none;
      }
      /* visited link */
      a:visited {
      color: #095484;
      text-decoration: none;
      }
      /* mouse over link */
      a:hover {
      color: #095484;
      text-decoration: none;
      }
      /* selected link */
      a:active {
      color: #095484;
      text-decoration: none;
      }